<div class="home-intro">
    <div class="jumbo">{{site.heading}} </div>
    <div class="home-sub-text"> <h3>
        Welcome! I am an undergraduate student at the University of British Columbia. 
        I have my major in computer science and minor in psychology. 
        I am passionate about developing innovative software applications. 
        Check out my <a href="{{'/projects' | relative_url}}"> projects</a> and <a href="{{'/experiences' | relative_url}}"> experiences</a>! 
        </h3> 
</div> </div>

